# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = LagouSpider.settings

[deploy:lagou_spider]
url = http://127.0.0.1:6800/
project = LagouSpider
username = barnett
password = xxf99311
